name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '14'

      - name: Install dependencies
        run: npm install

      - name: Run frontend tests
        run: npm run test --prefix src

      - name: Run backend tests
        run: dfx test --canister dao

      - name: Run end-to-end tests
        run: npx cypress run --spec 'cypress/e2e/hello.cy.js'
